{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper text-center">
    <h1> Orange Bleue</h1>
    <h2>La Franchise</h2>
    <p>Lorem Ipsum est simplement un faux texte de l'industrie de l'impression et de la composition. Le Lorem Ipsum est le texte factice standard de l'industrie depuis les années 1500, lorsqu'un imprimeur inconnu a pris une galère de caractères et l'a brouillé pour en faire un livre de spécimens de caractères. Il a survécu non seulement à cinq siècles, mais aussi au saut dans la composition électronique, restant essentiellement inchangé. Il a été popularisé dans les années 1960 avec la sortie de feuilles Letraset contenant des passages de Lorem Ipsum, et plus récemment avec des logiciels de publication assistée par ordinateur comme
        Aldus PageMaker comprenant des versions de Lorem Ipsum.</p>

    <h3>Qui somme nous?</h3>
    <p>Pour pouvoir lancer votre restaurant Au Bureau, les critères d’implantation à respecter sont les suivants :

        Emplacement avec terrasse en centre-ville ou en périphérie (type zone de loisirs, pôle de restauration)
        Agglomération à partir de 30 000 habitants
        Surface du local : 300m² minimum
        Emplacement en périphérie : 1000m² de terrain minimum si le parking est existant, 3000m² si le parking est à créer
        Nombre de places assises : 100 à 200 places
        La licence IV est indispensable</p>

    <h3>Nos services</h3>
    <p>Lorem Ipsum est simplement un faux texte de l'industrie de l'impression et de la composition. Le Lorem Ipsum est le texte factice standard de l'industrie depuis les années 1500, lorsqu'un imprimeur inconnu a pris une galère de caractères et l'a brouillé pour en faire un livre de spécimens de caractères. Il a survécu non seulement à cinq siècles, mais aussi au saut dans la composition électronique, restant essentiellement inchangé. Il a été popularisé dans les années 1960 avec la sortie de feuilles Letraset contenant des passages de Lorem Ipsum, et plus récemment avec des logiciels de publication assistée par ordinateur comme
        Aldus PageMaker comprenant des versions de Lorem Ipsum.</p>

    <h3>Ouvrir une salle de sport!</h3>
    <p>Lorem Ipsum est simplement un faux texte de l'industrie de l'impression et de la composition. Le Lorem Ipsum est le texte factice standard de l'industrie depuis les années 1500, lorsqu'un imprimeur inconnu a pris une galère de caractères et l'a brouillé pour en faire un livre de spécimens de caractères. Il a survécu non seulement à cinq siècles, mais aussi au saut dans la composition électronique, restant essentiellement inchangé. Il a été popularisé dans les années 1960 avec la sortie de feuilles Letraset contenant des passages de Lorem Ipsum, et plus récemment avec des logiciels de publication assistée par ordinateur comme
        Aldus PageMaker comprenant des versions de Lorem Ipsum.</p>

</div>
{% endblock %}
